<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class=" modal-dialog " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title ">We found your most suitable Friend for you</h5>

            </div>
            <div class="modal-body ">
                <p>Check out</p>
            </div>

        </div>
    </div>
</div>
<div class="m-auto w-75 ">
    <div class="row align-items-center justify-content-center ">
        <div class="col text-center ">
            <div class="card " style="width: 18rem; ">
                <img class="card-img-top " src="{{newURL}} " alt="you ">
                <div class="card-body ">
                    <h5 class="card-title ">YOU</h5>
                    <p class="card-text ">Name: {{newName}}</p>
                </div>
            </div>
        </div>
        <div class="col text-center ">
            <div class="card " style="width: 18rem; ">
                <img class="card-img-top " src="{{bffURL}} " alt="bff ">
                <div class="card-body ">
                    <h5 class="card-title ">Your BFF</h5>
                    <p class="card-text ">Name: {{bffName}}</p>
                </div>
            </div>
        </div>
    </div>
</div>