<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class=" modal-dialog " role="document ">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">We found some one for you!!</h3>

            </div>
            <div class="modal-body ">
                <h5>Check out</h5>
            </div>

        </div>
    </div>
</div>
<div class="m-auto w-75 d-flex justify-content-around ">
    <div class="card m-2" style="width: 18rem; ">
        <img class="card-img-top " src="{{newURL}} " alt="you ">
        <div class="card-body text-center ">
            <h5 class="card-title ">YOU</h5>
            <p class="card-text ">Name: {{newName}}</p>
        </div>
    </div>
    <div class="card m-2" style="width: 18rem; ">
        <img class="card-img-top " src="{{bffURL}} " alt="bff ">
        <div class="card-body text-center">
            <h5 class="card-title ">Your BFF</h5>
            <p class="card-text ">Name: {{bffName}}</p>
        </div>
    </div>
</div>