<div>
    <div class="jumbotron text-center w-75 m-auto p-0">
        <h1 class="display-3">Friend Finder</h1>
        <p class="lead">Find your next BFF by simply answering 10 questions</p>
        <hr class="my-2">
        <p class="lead p-3">
            <a class="btn btn-primary btn-lg" href="/survey" role="button">Take Survey</a>
            <a class="btn btn-primary btn-lg" href="/api/friends" role="button">Current Members</a>
        </p>
    </div>
</div>