<div>
    <div class="jumbotron text-center w-75 m-auto">
        <h1 class="display-3">Friend Finder with Handlebars</h1>
        <p class="lead">Find your next BFF by simply answering 10 questions</p>
        <hr class="my-5">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/survey" role="button">Take Survey</a>
            <a class="btn btn-primary btn-lg" href="/api/friends" role="button">Current Members</a>
        </p>
    </div>
</div>